@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$fuenteTitulo: 'Lobster', cursive;

// .pokeData{
//     background-color: #999;

//     h1{
//         margin-top: 0px;
//     }
// }

// .evosData{
//     display: flex;

//     img{
//         width: 50%;
//     }
// }

// .pokeApp{
//     overflow: hidden;
// }

// .pokeApp, .pokeData, .header{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

.header{
    background-color: #733;
    width: 100vw;   
    
    h1{
        margin-top: 0px;
        font-family: $fuenteTitulo;
        font-size: 42px;
        color: #fff;
        margin-bottom: 2px;
    }

    input{
        border: none;
        width: 350px;
        border-radius: 6px;
        height: 20px;
        margin-bottom: 5px;

        &:focus-visible{
            outline: none;
        }
    }
}

.infoPrincipal{
    background-color: #733;
}

// .evosData{
//     display: flex;
//     justify-content: space-between;
// }

// .pokeApp{
//     max-height: 100vh;
// }

// img{
//     max-height: 370px;
// }


.pokeApp, .pokeData, .infoPrincipal, .header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokeData{
    width: 100vw;
    background-color: #999;

    img{
        width: 90vw;
    }
}

.evosData{
    display: flex;
    flex-direction: row;

    img{
        width: 50vw;
    }

    div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
